:root {
  --main-color: #000000;
  --second-text-color: #2196f3;
  --title-color: #212121;
  --second-title-color: #ffffff;
  --bg-color: #2f303a;
  --text-about: #757575;
  --card-set-gap: 30px;
  --primary-font-family: Roboto, sans-serif;
}
